/* Makes web page take up entire page */
html, body {
    height: 100%;
}

/* Creates background style for homepage image */
.karl-bg { 
  /* The image used */
  background-image: url("/img/karl.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Adds padding and removes underline for social icons */
a.fa-2x {
    padding: 10px 10px;
}
a.fa-2x:hover, a.fa-2x:focus {
    text-decoration: none;
}