body {
    padding-top: 20px;
}
.text-center {
    text-align: center;
}
h1 {
    font-size: 4em;
}
a:hover, a:focus {
    text-decoration: none;
}
.pad-top {
    padding-top: 50px;
}
.pad-top-sm {
    padding-top: 15px;
}
.pad-top-md {
    padding-top: 30px;
}
.pad-top-xl {
    padding-top: 100px;
}
.pad-bt-sm {
    padding-bottom: 15px;
}
.asterisk {
    color: #df691a;
}
a.fa-2x {
    padding: 10px 10px;
}
/*a.fa {
    color: #2C3E50;
}*/
.page-header {
    border-bottom-style: none;
    margin-bottom: 0px;
}
.bio {
    font-size: 1.2em;
}
.content {
    max-width: 700px;
}
.img-responsive {
    max-height: 100px;
}
