body {
    padding-top: 20px;
    text-align: center;
}
h1 {
    font-size: 4em;
}
a:hover, a:focus {
    text-decoration: none;
}
.pad-top {
    padding-top: 50px;
}
.pad-top-sm {
    padding-top: 15px;
}
.pad-top-md {
    padding-top: 30px;
}
.pad-top-xl {
    padding-top: 100px;
}
.pad-bt-sm {
    padding-bottom: 15px;
}
.asterisk {
    color: #df691a;
}
a.fa-2x {
    padding: 10px 10px;
}
.page-header {
    border-bottom-style: none;
    margin-bottom: 0px;
}
.bio {
    font-size: 1.4em;
    max-width: 640px;
}
.img-responsive {
    max-height: 100px;
}
/*
.maxx {
    max-width: 225px;
}
.media-bio {
    max-width: 800px;
    margin: 0 auto;
}
.img-bio {
    max-width: 250px;
}
.navbar-brand {
    font-weight: bold;
}*/