// Font overrides
$font-family-sans-serif: "Verdana", sans-serif;
$headings-font-weight: 700;
$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;
$body-color: #000;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.85;
$h6-font-size: $font-size-base * 0.7;

// Color overrides
$primary: #000;

// Add wider spacing for padding and margin
$spacer: 1rem;
$spacers:  (
    10: ($spacer * 6),
    20: ($spacer * 12)
  )
;

// Add embed aspect ratios
$embed-responsive-aspect-ratios: (
  (21 9),
  (16 9),
  (4 3),
  (1 1),
  (9 16)
);

// Other overrides
$enable-rounded: false;
$enable-responsive-font-sizes: true;
$modal-fade-transform: none;

@import "../bootstrap/scss/bootstrap";

// Enable smooth scrolling (pretty much only works in Chromium-based browsers)
html {
    scroll-behavior: smooth;
}

// section classes for new layout
.section {
  @extend .my-4;
  @extend .my-sm-5;
}
.section-tall {
  @extend .my-5;
  @extend .my-md-10;
}
.section-wide {
  @extend .mx-lg-n10;
}

// Fix Safari 100% height issue
.fix-safari-size {
  height: 0;
}

// Navigation
// Includes solution from Stack Overflow https://stackoverflow.com/a/6285388
.navigation {
  h1 {
    @include font-size(1.5rem);
    a:hover {
      text-decoration: none;
    }
  }
  ul {
    list-style-type: none;
    margin: auto;
    padding: initial;
  }
  li {
    display: inline;
    a.active {
      text-decoration: underline;
    }
  }
  li + li:before {
    content: " / ";
    color: $gray-300;
  }
}

// Gray color class
.gray {
  color: $gray-300;
}

// Add emphasis classes for paragraphs
p {
  &.emphasized {
    @extend .lead;
    font-weight: bold;  
  }
  &.lead-emphasized {
    @include font-size($lead-font-size * 1.25);
    @extend p.emphasized;
  }
}

// Create Display button class for larger button
.btn-display {
    @include font-size(1.75rem);
    font-weight: bold;
    padding: .75rem 1.5rem;
}

// Create class for fullscreen modal
.modal-fullscreen {
  @extend .modal-xl;
  @extend .my-0;
  height: 100% !important;
}

// Make PDFObject embeds 100% height and width
.pdfobject-container {
  height: 100%; width: 100%;
}

// Make ul bullets square and reduce padding
ul {
  list-style: square;
  padding-left: 20px;
}

// Span to create preferred line break
// Code from https://stackoverflow.com/a/24357132
span.line {
  display: inline-block;
}