// Font overrides
$font-family-sans-serif: "Verdana", sans-serif;
$headings-font-weight: 700;
$body-color: #000;

// Color overrides
$primary: #000;
/*
$gray-100: #E5E5E5;
$gray-200: #CCCCCC;
$gray-300: #B2B2B2;
$gray-400: #999999;
$gray-500: #7F7F7F;
$gray-600: #666666;
$gray-700: #4C4C4C;
$gray-800: #333333;
$gray-900: #191919;
*/

// Other overrides
$enable-rounded: false;
$enable-responsive-font-sizes: true;

@import "../bootstrap/scss/bootstrap";

// Enable smooth scrolling
html {
    scroll-behavior: smooth;
}

// Navigation
// Includes solution from Stack Overflow https://stackoverflow.com/a/6285388
.navigation {
    h1 {
        @include font-size(1.5rem);
        a:hover {
            text-decoration: none;
        }
    }
    ul {
        list-style-type: none;
        margin: auto;
        padding: initial;
    }
    li {
        display: inline;
        color: $gray-300;
        a.active {
            text-decoration: underline;
        }
    }
    li + li:before {
        content: " / ";
    }
}

h1.headline {
    @include font-size(6rem);
}
.btn-headline {
    @include font-size(1.75rem);
    font-weight: bold;
    padding: 1rem 2rem;
}



/* LEGACY STYLES FROM OLD SITE */

/* Change number of card columns on resume
Code based on answer in https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns/34831794 */
@media (min-width: 576px) {
    .resume-card-columns {
        column-count: 1;
    }
}
@media (min-width: 992px) {
    .resume-card-columns {
        column-count: 2;
    }
}

/*Font styles for resume*/
.resume-font-styles h3, .resume-font-styles h4, .resume-font-styles h5, .resume-font-styles h6 {
  text-transform: none;
  letter-spacing: normal;
}
.resume-font-styles h2 {
  font-size: 1.5rem;
  letter-spacing: normal;
}
.resume-font-styles h3 {
  font-size: 1rem;
}
.resume-font-styles h4 {
  font-size: 0.8rem;
}
.resume-font-styles ul {
  padding-left: 20px;
  color: #1a1a1a;
}

/*Font resize, used for portfolio cards*/
h1.portfolio-card-title {
  font-size: 1.5rem;
}
h2.portfolio-card-subtitle {
  font-size: 0.75rem;
}
