// Font overrides
$font-family-base: 'Noto Sans', sans-serif;
$body-color: #000;

$headings-font-weight: 700;

$display1-weight: 700;
$display2-weight: 700;
$display3-weight: 700;
$display4-weight: 700;

$lead-font-weight: 400;

$font-size-base: 1.25rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.85;
$h6-font-size: $font-size-base * 0.7;

// Color overrides
$primary: #000;
$secondary: #dee2e6;

// Add wider spacing for padding and margin
$spacer: 1rem;
$spacers:  (
    8:  ($spacer * 4.5),
    10: ($spacer * 6),
    15: ($spacer * 9),
    // from old design delete later 20: ($spacer * 12)
  )
;

// Add embed aspect ratios
$embed-responsive-aspect-ratios: (
  (21 9),
  (16 9),
  (4 3),
  (1 1),
  (9 16)
);

// Other overrides
// $enable-rounded: false;
$enable-responsive-font-sizes: true;
$modal-fade-transform: none;

@import "../bootstrap/scss/bootstrap";

// Enable smooth scrolling (pretty much only works in Chromium-based browsers)
html {
    scroll-behavior: smooth;
}

// Section classes for new layout
.section {
  @extend .my-4;
  @extend .my-sm-5;
}
.section-t {
  @extend .mt-4;
  @extend .mt-sm-5;
}
.section-tall {
  @extend .my-5;
  @extend .my-md-10;
}
.section-tall-t {
  @extend .mt-5;
  @extend .mt-md-10;
}
.section-wide {
  @extend .mx-lg-n15;
}

// Fix Safari 100% height issue
.fix-safari-size {
  height: 0;
}

// Navigation
.navigation {
  h1 {
    @include font-size($font-size-base * 1.5);
    a:hover {
      text-decoration: none;
    }
  }
  ul {
    @extend .list-inline;
    margin: initial;
    li {
      @extend .list-inline-item;
      @extend .lead;
      a {
        @extend .badge;
        font-weight: normal;
        &.active {
          @extend .badge-primary;
        }
      }
    }
  }
}

// Gray color class
.gray {
  color: $gray-300;
}

// Add emphasis classes for paragraphs
p {
  &.emphasized {
    @extend .lead;
    font-weight: bold;  
  }
}

// Add project body styles
.project-body {
  h1 {
    @extend .section-tall-t;
    + h2 {
      @extend .mt-auto;
    }
  }
  h2 {
    @extend .section-t;
  }
  p, ul {
    font-family: 'Noto Serif', serif;
    &.lead {
      font-weight: bold;
      font-style: italic;
    }
    .btn {
      font-family: $font-family-base;
    }
  }
  .modal-body p, .card-body p {
    font-family: $font-family-base;
    font-weight: initial;
    font-style: initial;
  }
}

// Add list tag styles
ul.tags {
  @extend .list-inline;
  @extend .lead;
  li {
    @extend .badge;
    @extend .badge-secondary;
    @extend .list-inline-item;
  }
}

// Resume body font modifications
.resume-card-body {
  @extend .card-body;
  @extend .p-4;
  @extend .p-md-8;
  h1 {
    @extend h2;
    &:first-child {
      @extend .mt-0;
    }
    &:not(:first-child) {
      @extend .mt-4;
      @extend .mt-md-5;
    }
  }
  h2 {
    @extend body;
    font-weight: bold;
    @extend .mt-3;
    span.notbold {
      font-weight: normal;
    }
    &:first-child {
      // This is for the headings under Skills
      @extend .mt-0;
    }
  }
  h1 + h2 {
    // for h2s directly under h1
    @extend .mt-0;
  }
  p {
    @extend .m-0;
  }
  ul {
    @extend .m-0;
  }
}

// Image spacing classes
.image-margins {
  @extend .mb-3;
  @extend .mb-md-0;
  @extend .mx-4;
  @extend .mx-md-0;
}
.image-margins-b {
  @extend .mb-3;
  @extend .mb-md-0;
}

// Display card class for homepage
.card-display {
  @extend .bg-light;
  @extend .border-0;
  @extend .p-4;
  @extend .py-md-5;
  @extend .px-md-8;
}

// Create class for fullscreen modal
.modal-fullscreen {
  @extend .modal-xl;
  @extend .my-0;
  height: 100% !important;
}

// Make PDFObject embeds 100% height and width
.pdfobject-container {
  height: 100%; width: 100%;
}

// Reduce list padding
ul {
  // list-style: square;
  padding-left: 20px;
}

// Span to create preferred line break
// Code from https://stackoverflow.com/a/24357132
span.line {
  display: inline-block;
}