<!--Clicky analytics-->
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(100957691);</script>
<script async src="//static.getclicky.com/js"></script>

<!--Smartlook-->
<script type='text/javascript'>
	window.smartlook||(function(d) {
		var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
		var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
		c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
		})(document);
		smartlook('init', '8ce770ebd13bf21e04fa5a66d7ae6bc3c3987436');
</script>

<!-- GoSquared -->
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-251732-Z');
  _gs('set', 'anonymizeIP', true);
</script>