<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% if page.url == "/" %}{{ siteTitle }}{% else %}{{ title }} / {{ siteTitle }}{% endif %}</title>

    <link rel="stylesheet" href="/assets/css/main.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">

    <!--shortcut icon from realfavicongenerator.net-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=Lbz240pw7J">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=Lbz240pw7J">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=Lbz240pw7J">
    <link rel="manifest" href="/assets/favicon/site.webmanifest?v=Lbz240pw7J">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=Lbz240pw7J" color="#000000">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=Lbz240pw7J">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=Lbz240pw7J">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
</head>
