<script src="/assets/scripts/jquery/jquery.slim.min.js"></script>
<script src="/assets/scripts/popper.js/popper.min.js"></script>
<script src="/assets/scripts/bootstrap/bootstrap.min.js"></script>

{% if fancybox %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script>
    $.fancybox.defaults.buttons = [
        //"zoom",
        //"share",
        //"slideShow",
        //"fullScreen",
        //"download",
        //"thumbs",
        "close"
    ];
</script>
{% endif %}