<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>

<script src="/assets/scripts/jquery/jquery.slim.min.js"></script>
<script src="/assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>

{% if fancybox %}
<link rel="stylesheet" href="/assets/scripts/fancybox/jquery.fancybox.min.css" />
<script src="/assets/scripts/fancybox/jquery.fancybox.min.js"></script>
<script>
    $.fancybox.defaults.buttons = [
        //"zoom",
        //"share",
        //"slideShow",
        //"fullScreen",
        //"download",
        //"thumbs",
        "close"
    ];
</script>
{% endif %}