---
redirect_from: /portfolio
---
<div class="card-display section-tall section-wide">
	<p class="h1 display-1">Hi, I'm Karl.</p>
	<p class="lead mt-md-4">I'm a UX designer with experience in user-centered design processes, prototyping tools, and front-end development. I'm looking for a UX design position that draws on my passion for good design in the products and experiences I create and use every day.</p>	
</div>
<div id="projects">
	{% assign sorted_projects = site.projects | sort: 'order' %}
	{% for project in sorted_projects %}
	{% unless project.hidden %}
		<div class="section-tall section-wide">
			<div class="row align-items-center">
				<div class="col-md-7 col-lg-8">
					<div>
						<h1><a href="{{ project.url }}">{{ project.title }}</a></h1>
						<p class="emphasized">
							{% if project.role %}<span class="line">{{ project.role }} <span class="gray">/</span> </span>{% endif %}
							<span class="line">{{ project.date_string }}</span>
						</p>
						<ul class="tags">{% for tag in project.tags %}<li>{{ tag }}</li>{% endfor %}</ul>
						<p>{{ project.description }}</p>
						<a href="{{ project.url }}" class="btn btn-secondary">More about this project <span class="iconify" data-icon="feather:chevron-right"></span></a>
					</div>
				</div>
				<div class="col-md-5 col-lg-4 image-margins order-first order-md-last">
					<a href="{{ project.url }}"><img src="{{ project.thumbnail }}" class="img-fluid" alt="{{ project.thumbnail_alt }}"></a>
				</div>
			</div>
		</div>
	{% endunless %}
	{% endfor %}
</div>