---
title: Résumé
permalink: /resume
---
<div class="section">
	<h1>Résumé</h1>
	<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#resumeModal">
		<span class="iconify" data-icon="ic:sharp-picture-as-pdf"></span> View as PDF
	</button>
</div>
<div class="card section">
	<div class="card-body resume-body">
		<h1>Education</h1>
		<p>
			<b>University of California, Irvine</b>
			<br>Bachelor of Science, Informatics <span class="gray">/</span> June 2020
			<br>Specialization in Human-Computer Interaction
			<br><i>3.69 GPA</i>
		</p>
		<h1>Projects</h1>
		{% assign sorted_projects = site.projects | sort: 'order' %}
		{% for project in sorted_projects %}
		{% unless project.hidden %}
		<p>
			<a href="{{ project.url }}"><b>{{ project.title }}</b></a>
			<br>{% if project.role %}<span class="line">{{ project.role }} <span class="gray">/</span></span>{% endif %}
			<span class="line">{{ project.date_string }}</span>
			<br><i>{{ project.short_description }}</i>
		</p>
		{% endunless %}
		{% endfor %}
		<h1>Work Experience</h1>
		<p>
			<b>Urban Plates</b>, Irvine, CA
			<br>Cashier <span class="gray">/</span> September 2019–Present
			<br><i>Ensure guest satisfaction through attentive customer service and accurate order entry into the POS system</i>
		</p>
		<p>
			<b>Dreams for Schools</b>, Irvine, CA
			<br>Summer STEM Mentor <span class="gray">/</span> June 2019–July 2019
			<br><i>Taught elementary school children from 3<sup>rd</sup> through 6<sup>th</sup> grade STEM concepts, including block-based programming</i>
		</p>
		<p>
			<b>Panera Bread</b>, Irvine, CA
			<br>Associate Trainer <span class="gray">/</span> March 2017–June 2019
			<br><i>Assisted customers in placing orders, verified order accuracy, maintained cleanliness, and trained new associates in job duties</i>
		</p>
		<p>
			<b>University of California, Irvine</b>, Irvine, CA
			<br>Summer Conference Assistant <span class="gray">/</span> June 2018–September 2018
			<br><i>Worked with Summer Conference staff to host and provide customer service to conferences and camps residing at UCI</i>
		</p>
		<h1>Skills</h1>
		<div class="row">
			<div class="col-md-5">
				<b>Processes</b>
				<ul>
					<li>User-centered design</li>
					<li>Wireframing</li>
					<li>Prototyping</li>
					<li>Agile development</li>
					<li>Requirements and design documentation</li>
				</ul>
			</div>
			<div class="col-md">
				<b>Tools</b>
				<ul>
					<li>Figma</li>
					<li>Balsamiq</li>
					<li>Photoshop</li>
					<li>NPM</li>
					<li>Git</li>
				</ul>
			</div>
			<div class="col-md">
				<b>Languages</b>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>Sass</li>
					<li>Angular</li>
					<li>Python</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% include pdf_modal.html id="resumeModal" title="Résumé" src="/assets/resume.pdf" %}
