---
image_modal: true
order: 2
title: UC Irvine Legal Agreements Software User Research
date: 2019-12-09
date_string: September–December 2019
role: Project Manager, UX Designer
description: UC Irvine's existing software for managing legal agreements for research was old—dating back 20 years, with few updates since then to keep up with changes in procedures, regulations, and processes. My 5-member team interviewed a number of current users to learn what features a replacement system would need to have. We compiled the results from these interviews into a cohesive requirements document, then created clickable mockups to elicit feedback and refine our requirements.
short_description: Created requirements document and mockups for legal agreements management software
thumbnail: /assets/projects/spa/thumbnail.png
thumbnail_alt: Screenshot of new SPA design mockup
---
<div class="section-my-l">
    <div class="section-mx-xl section-my">
        <h1>The Problem</h1>
        <p class="lead">UC Irvine's legal agreements management software (SPA) does not meet the needs of today's users.</p>
        <p>SPA is expensive and difficult to maintain. It was written by a single developer in Visual Basic 6, and the code is not well structured. This makes fixing bugs or adding features nearly impossible, resulting in a frustrating experience for users. A very small number of people use SPA, and maintaining a legacy system just for them is no longer feasible for the University.</p>
        <p>UC Irvine is planning on replacing SPA with a new system, but nobody had a complete picture of how it is used now to develop requirements for a replacement system.</p>
    </div>
    {% assign images="/assets/projects/spa/before.png" | split: ',' %}
    {% assign images_alt="The existing design of SPA" | split: ',' %}
    {% assign images_width="800" | split: ',' %}
    {% include img_thumbs.html images=images images_alt=images_alt images_width=images_width border=true caption=true %}
</div>
<div class="section-my-l">
    <div class="section-mx-xl section-my">
        <h1>Our Process</h1>
        <p class="lead">My team's objective was to gather information about current users and create a requirements document for a replacement system.</p>
        <p>While members of my team didn't have formal titles, my role was that of project manager and UX designer. I communicated with our project sponsors, prepared presentations, and created the wireframes and most of the prototype.</p>
        <p>Because some agreements in the system are confidential, we were not able to use it directly, so we interviewed users and observed how they used the system. We conducted 7 of these interviews on Zoom over the course of the project. We took notes and recorded each interview. We created a basic requirements document towards the beginning of the project, then filled in details and iterated on it as we gathered additional information.</p>
        <p>When we had collected a list of features a replacement system would need to have, I created basic wireframes with Balsamiq. We showed these wireframes to users, who helped us identify missing features and improvements to make.</p>
    </div>
    {% assign images="/assets/projects/spa/wireframes_1.png,/assets/projects/spa/wireframes_2.png" | split: ',' %}
    {% assign images_alt="Wireframe of initial search screen,Wireframe of the agreements detail view" | split: ',' %}
    {% assign images_width="995,995" | split: ',' %}
    {% include img_thumbs.html images=images images_alt=images_alt images_width=images_width modal=true caption=true %}
    <div class="section-mx-xl section=my">
        <p>Based on these wireframes, we began to create interactive mockups using Figma.</p>
    </div>
</div>
<div class="section-my-l">
    <div class="section-mx-xl section-my">
        <h1>The Result</h1>
        <p>My team produced a document detailing the requirements we had been gathering throughout the project for a replacement system, including a detailed description of features and other functional and nonfunctional requirements. I wrote the feature descriptions and significantly rewrote the finished document for consistency, completeness, and accuracy.</p>
        <p>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#requirementsModal">
                <span class="iconify" data-icon="ic:sharp-picture-as-pdf"></span> View requirements document
            </button>
        </p>
    </div>
    <div class="section-mx-xl section-my">
        <p>We also used Figma to create a basic clickable mockup to verify that our requirements would meet user needs. Other members of the team contributed towards early revisions of the mockups, but my work comprises most of the final version.</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fuc22tYXGOjB9c8e2ZjQmHO%2FSPA-Mockups-Karl-Nippoldt%3Fscaling%3Dcontain%26node-id%3D20%253A0" allowfullscreen></iframe>
    </div>
</div>

{% include pdf_modal.html id="requirementsModal" title="Requirements Document" src="/assets/projects/spa/requirements.pdf" %}