{% comment %}
Include:
images
images_alt
images_width (optional)

Options:
modal: boolean (include image_modal: true in page front matter)
border: boolean
caption: boolean
{% endcomment %}
<div class="section section-wide">
	<div class="row align-items-center">
		{% for src in images %}
		<div class="col-md image-margins text-center">
			<figure class="figure my-0">
				{% if include.modal %}<a href="#" data-toggle="modal" data-target="#imageModal" data-img-src="{{ src }}" data-img-alt="{{ include.images_alt[forloop.index0] }}"{% if include.images_width %} data-img-width="{{ include.images_width[forloop.index0] }}"{% endif %}>{% endif %}
					<img class="figure-img img-fluid{% if include.border %} img-thumbnail{% endif %}" src="{{ src }}"{% if include.images_width %} width="{{ include.images_width[forloop.index0] }}"{% endif %}{% unless include.caption %} alt="{{ include.images_alt[forloop.index0] }}"{% endunless %}>
				{% if include.modal %}</a>{% endif %}
				{% if include.caption %}<figcaption class="figure-caption text-center">{{ include.images_alt[forloop.index0] }}</figcaption> {% endif %}
			</figure>
		</div>
		{% endfor %}
	</div>
</div>

{% comment %}
Don't forget to set image_modal: true in front matter of page where this is included; this enables the necessary JQuery and the modal in the default.html page
{% endcomment %}