<nav class="navbar navbar-light navbar-expand-md bg-light">
	<a class="navbar-brand" href="/">Karl Nippoldt</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			{% assign pages_list = site.pages %}
			{% assign group = 'navigation' %}
			{% include pages_list.html %}
		</ul>
	</div>
</nav>