<nav class="navbar navbar-expand-md navbar-dark bg-primary px-4 px-sm-5">
	<a class="navbar-brand" href="/">Karl Nippoldt</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			{% for item in site.data.navigation.docs %}
				<li class="nav-item {% if item.url == page.url %}active{% endif %}"><a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</nav>
