<!-- Modal -->
<div class="modal fade" id="{{ include.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ include.id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content modal-fullscreen">
            <div class="modal-header">
                <h4 class="modal-title" id="{{ include.id }}Label">{{ include.title }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body fix-safari-size">
                <div id="{{ include.id }}Embed"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"></script>
<script>
    var options = {
       pdfOpenParams: { view: 'Fit' },
       fallbackLink: '<p>This browser does not support inline PDFs. Please download the PDF to view it.</p><a class="btn btn-primary" href="[url]" target="_blank"><span class="iconify" data-icon="ic:sharp-picture-as-pdf"></span> Download PDF</a>'
    };
    
    PDFObject.embed("{{ include.src }}", "#{{ include.id }}Embed", options);
</script>