/* Makes web page take up entire page */
html, body {
    height: 100%;
}

/* Creates background style for homepage image */
.karl-bg {
  /* The image used */
  background-image: url("/assets/images/karl.jpg");

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Adds padding for social icons */
a.fa-2x {
    padding: 10px 10px;
}

/* Change text color to black */
p {
  color: #1a1a1a;
}

/* Change number of card columns on resume
Code based on answer in https://stackoverflow.com/questions/34140793/bootstrap-4-responsive-cards-in-card-columns/34831794 */
@media (min-width: 576px) {
    .resume-card-columns {
        column-count: 1;
    }
}
@media (min-width: 992px) {
    .resume-card-columns {
        column-count: 2;
    }
}

/* Hide underlining for links*/
.no-link-underline a:hover, .no-link-underline a:focus {
    text-decoration: none;
}

/*Font styles for resume*/
.resume-font-styles h3, .resume-font-styles h4, .resume-font-styles h5, .resume-font-styles h6 {
  text-transform: none;
  letter-spacing: normal;
}
.resume-font-styles h2 {
  font-size: 1.5rem;
  letter-spacing: normal;
}
.resume-font-styles h3 {
  font-size: 1rem;
}
.resume-font-styles h4 {
  font-size: 0.8rem;
}
.resume-font-styles ul {
  padding-left: 20px;
  color: #1a1a1a;
}

/*Font resize, used for portfolio cards*/
h1.portfolio-card-title {
  font-size: 1.5rem;
}
h2.portfolio-card-subtitle {
  font-size: 0.75rem;
}
