---
title: About
eleventyNavigation:
  key: About
  order: 3
---
<div class="section section-wide">
    <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
            <h1>I'm Karl Nippoldt.</h1>
            <p class="emphasized">
                Inquisitive thinker, life-long learner, UX Designer.
            </p>
            <p>
                Originally from California's Central Valley, I currently call Orange County home (though I am willing to relocate). I'm a naturally curious person, always learning something new about the world and how it works.
            </p>
            <p>
                I'm passionate about good design, whether it's in a product I use or an app I create. I have experience in user-centered design processes, prototyping tools, and front-end development. I love to bring my attention to detail to the work I do, and I'm always eager for an opportunity to perfect my skills.
            </p>
        </div>
        <div class="col-md-5 col-lg-4 pr-md-5 image-margins order-first">
            {% Image {
                src: "about/karl.jpg",
                alt: "Karl standing in front of city skyline",
                classStr: "rounded",
                width: 1000,
                cols: 3
            } %}
        </div>
    </div>
</div>
<div class="section section-wide text-center">
    <h1 class="h2">Things I Enjoy</h1>
    <div class="row">
        <div class="col-6 col-md d-flex flex-column justify-content-between">
            {% Image {
                src: "about/coffee.svg",
                classStr: "flex-grow-1 mx-3 mb-3"
            } %}
            <p>Making a cup of pour-over coffee every morning</p>
        </div>
        <div class="col-6 col-md d-flex flex-column justify-content-between">
            {% Image {
                src: "about/airplane.svg",
                classStr: "flex-grow-1 mx-3 mb-3"
            } %}
            <p>Learning about airliners and the aviation industry</p>
        </div>
        <div class="col-6 col-md d-flex flex-column justify-content-between">
            {% Image {
                src: "about/food.svg",
                classStr: "flex-grow-1 mx-3 mb-3"
            } %}
            <p>Cooking a meal for friends (or just myself)</p>
        </div>
        <div class="col-6 col-md d-flex flex-column justify-content-between">
            {% Image {
                src: "about/travel.svg",
                classStr: "flex-grow-1 mx-3 mb-3"
            } %}
            <p>Traveling to new places, especially national parks</p>
        </div>
    </div>
</div>