---
title: Contact
eleventyNavigation:
  key: Contact
  order: 3
---
<div class="text-center">
    <p class="emphasized">I'd love to get to know you!</p>
    <p>Send me an email or <a href="https://www.linkedin.com/in/karlnippoldt/">connect with me on LinkedIn</a>.</p>
</div>
<form class="section" action="https://formspree.io/myywjkor" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control form-control-lg" name="name" required>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" class="form-control form-control-lg" name="_replyto" required>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" class="form-control form-control-lg" rows="5" name="message" required></textarea>
    </div>
    <div class="section text-center">
        {% Button {
            text: "Send Message",
            submit: true,
            large: true
        }%}
    </div>
</form>